<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Membres</title>
 <link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Questrial" rel="stylesheet">
</head>
<body>
	<h1>Carnet d'adresse</h1>
	<h2>Membres</h2>
	<form action= "/recherche" name="recherche" method="POST">
		<input type='text' id="barreRecherche" name="recherche" placeholder="Rechercher un membre...">
		<input type="submit" value="Chercher">
 	</form>
 		<table class="tableau">

 			<% if(typeof test == 'undefined') {

 				test = 'asc'

 				}

 			%>


 			<% let noLigne = 0 %>
 			<% for(element of adresses) {%>
			 
				 <% if (noLigne==0) {%>
				
				 	<tr>

	 					<% noLigne++
	 			
	 							for (p in element){ %>

	 									<th><a href=http://localhost:8081/trier/<%=p %>/<%= test %> ><%= p %></a></th>
	 							<% } %>
	 					<td>
	 						<a class="ajouter" href='http://localhost:8081/ajouter'>Ajouter</a>
	 					</td>
	 				</tr>

	 			<% } %>

 			<% } %>

 			<% adresses.forEach(elm => {%>


 			<tr>
 				<td><%= elm._id %></td>
 				<td contenteditable="true"><%= elm.prenom %></td>
 				<td contenteditable="true"><%= elm.nom %></td>
 				<td contenteditable="true"><%= elm.telephone %></td>
 				<td contenteditable="true"><%= elm.courriel %></td>
 				<td>
 					<a class="sauver" href='#'>Modifier</a>
 				</td>
 				<td>
 					<a class= "supprimer" href='http://localhost:8081/supprimer/<%= elm._id %>'>Supprimer</a>
 				</td>
 			</tr>
 			<% }) %>
 		</table>
	  <h2>Formulaire</h2>

	 <form class="formulaire" action= "/ajouter" method="GET">
		 <label>Prénom: <input type= "text" name="prenom"><br></label>
 		 <label>Nom: <input type= "text" name= "nom"><br></label>
 		 <label>Telephone:<input type= "text" name= "telephone"><br></label>
 		<label>Courriel: <input type= "text" name="courriel"><br></label>
 		<input type="submit" value="Ajouter un membre">
 	  </form>
 	  	<a class="retour" href="http://localhost:8081">Retour</a>


 	   <form id="mon_formulaire" class="formulaire" action="/modifier" method="POST">
 	   	 <label>ID: <input type = "text" name = "_id"><br></label>
		 <label>Prénom: <input type = "text" name = "prenom"><br></label>
 		 <label>Nom: <input type = "text" name = "nom"><br></label>
 		 <label>Telephone:<input type = "text" name = "telephone"><br></label>
 		<label>Courriel: <input type = "text" name="courriel"><br></label>
 		<input type="submit" class="ajout" value= "Ajouter un membre">
 	  </form>
 	<script type="text/javascript">
 	  	(function(){
			 let elmSauver = document.querySelectorAll('.sauver')
			 console.log('elmSauver = ' + elmSauver.length)
			 for (elm of elmSauver)
			 {
				 elm.addEventListener('click', function(){
				
					 let laLigne = this.parentNode.parentNode
					 let id = laLigne.children[0].innerHTML
					 let nom = laLigne.children[2].innerHTML
					 let prenom = laLigne.children[1].innerHTML
					 let telephone = laLigne.children[3].innerHTML
					 let courriel = laLigne.children[4].innerHTML

					let elmForm = document.getElementById('mon_formulaire')
					 console.log(elmForm.tagName)
					 let elmInput = elmForm.querySelectorAll('input')
					 elmInput[0].value = id
					 elmInput[2].value = nom
					 elmInput[1].value = prenom
					 elmInput[3].value = telephone
					 elmInput[4].value = courriel

					elmForm.submit()

			 	 })
			 } 
	})()
</script>
<%- include('composants/footer.ejs') %>

 </body>
</html>
