<!DOCTYPE html>
<html lang="fr">
<%- include('composants/head.ejs') %>
<body> 
<%- include('composants/entete.ejs') %>
<h1>Profil</h1>


<table class="tableau">

 			<% let noLigne = 0 %>
 			<% for(element of adresses) {%>
			 
				 <% if (noLigne==0) {%>
				
				 	<tr>
	 					<% noLigne++ 

	 						for (p in element){ %>

	 									<th><%= p %></th>
	 							<% } %>

	 					%>
	 				</tr>

	 			<% } %>

 			<% } %>

 			<% adresses.forEach(elm => {%>


 			<tr>
 				<td><%= elm._id %></td>
 				<td><%= elm.prenom %></td>
 				<td><%= elm.nom %></td>
 				<td><%= elm.telephone %></td>
 				<td><%= elm.courriel %></td>
 			</tr>
 			<% }) %>
 </table>

 <a class="retour" href="http://localhost:8081/membres">Retour</a>

<%- include('composants/footer.ejs') %>

</body>
</html>